:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}





*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid red;
}
body{
    display: grid;
    place-items: center;
}


.container-product-preview-card{
    width: 90%;
    margin-top: 5px ;
    display: grid;
    place-items: center;
    
}

section .product-parfum-description{
    padding: 10px;
}

.product-parfum-description h4{
  color: var(--Dark-grayish-blue);
  letter-spacing: 5px;
}

























img{
    width: 100%;
}

